colorama
fastapi
fastapi-cli
fastapi-pagination
fastapi-utils
aio_pika
colorama
cryptography
fastapi
starlette
psycopg2
pydantic
pyotp
python_jose
redis
SQLAlchemy
psycopg2
pydantic
pyotp
uvicorn
python_jose
rich
SQLAlchemy
starlette
itsdangerous
asyncpg
python-multipart
asyncpgsa